.button {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  height: @button-height;
  padding: 0 @button-padding;
  border-radius: 9999999px;
  background-color: @bg-color-dark;
  color: inherit;

  transition: opacity @transition-duration;
  &:hover { opacity: @transition-opacity; }

  &--accent { background-color: @accent-color; }
}