.button {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  height: @button-height;
  padding: @button-padding (@button-padding * 2);
  border-radius: 9999999px;
  background-color: var(--color-bg-muted);
  color: inherit;

  transition: opacity var(--transition-duration);
  &:hover { opacity: var(--transition-opacity); }

  &--accent { background-color: var(--color-accent); }
  &--primary { background-color: var(--color-primary); }
  
  .icon { margin-right: @space-text; }
}