.card {
  padding: @card-padding;
  margin-bottom: @box-space;
  border-radius: @border-radius;

  &__icon {
    height: 60px;
    color: @primary-color;

    svg { width: auto; }
    &--text {
      font-size: 1.5rem;
      font-weight: bold;
      user-select: none;
      line-height: 1;
      border: @border-width-sm solid currentColor;
      display: inline-flex;
      align-items: center;
      padding: 0 @space;
      border-radius: @border-radius;
      box-sizing: border-box;
    }
  }

  &__title {
    border-radius: @border-radius @border-radius 0 0;
    margin-top: 0;
    margin-bottom: 0;
    
    &:not(:first-child) { margin-top: @box-space; }
  }

  &__subtitle {
    margin-top: @space/2;
    margin-bottom: @box-space;
    color: @font-color-lighter;
  }

  &__links {
    display: flex;
    align-items: center;

    a { color: inherit; }
    a + a { margin-left: @space-text; }
  }

  &__footer { margin-top: @box-space; }

  &--border { border: @border-width solid @bg-color-darker; }
  &--bg { margin-bottom: @space*2; background-color: @bg-color-dark; }
  &--linked {
    & + &:not(:last-child) { border-radius: 0; }
    &:not(:last-child) { margin-bottom: -@border-width; }
  }

  &:last-child { margin-bottom: 0; }
  & > p:last-child { margin-bottom: 0; }
}

@media @med-md {
  .card--transparent { margin-bottom: @box-space*2; }
}