.card {
  padding: @box-space @space;
  margin-bottom: @space;
  border-radius: @border-radius;

  &__icon {
    height: 50px;
    color: @primary-color;

    svg { width: auto; }
    &--text {
      font-size: 1.5rem;
      font-weight: bold;
      user-select: none;
      line-height: 1;
      border: @border-width-sm solid currentColor;
      display: inline-flex;
      align-items: center;
      padding: 0 @space;
      border-radius: @border-radius;
      box-sizing: border-box;
    }
  }

  &__title {
    border-radius: @border-radius @border-radius 0 0;
    margin-top: 0;
    margin-bottom: 0;
    
    &:not(:first-child) { margin-top: @box-space; }
  }

  &__subtitle {
    margin-top: @space/2;
    margin-bottom: @box-space;
    color: @font-color-lighter;
  }

  &__links {
    display: flex;
    align-items: center;

    a { color: inherit; }
    a + a { margin-left: @space-text; }
  }

  &__footer {
    margin-top: @box-space;
    color: @font-color-lighter;
  }

  &--shadow { background: @bg-color-almost; box-shadow: inset 0 0 4px 2px @bg-color-dark; }
  &--border { border: @border-width solid @bg-color-dark; }
  &--transparent { padding: 0; margin-bottom: @space*2; }
  &--linked {
    position: relative;
    & + &::before {
      content: '';
      background: @primary-color;
      position: absolute;
      top: -@space;
      left: calc(50% - @border-width/2);
      width: @border-width;
      height: @space;
    }
  }

  & > p:last-child { margin-bottom: 0; }
}

@media @med-md {
  .card {
    margin-bottom: @box-space;
    padding: @box-space;

    &--linked {
      & + &::before {
        top: -@box-space; height: @box-space;
      }
    }
    &--transparent { padding: 0; margin-bottom: @box-space*2; }
  }
}