.card {
  padding: @card-padding-y-sm @card-padding-x-sm;
  margin-bottom: @box-space;
  border-radius: @border-radius;

  &__icon {
    height: 60px;
    color: var(--color-primary);
    margin-bottom: @box-space;
    display: inline-block;

    svg { width: auto; }
    &--text {
      font-size: 1.5rem;
      font-weight: bold;
      user-select: none;
      line-height: 1;
      border: @border-width-sm solid currentColor;
      display: inline-flex;
      align-items: center;
      padding: 0 @space;
      border-radius: @border-radius;
      box-sizing: border-box;
    }
  }

  h2 {
    border-radius: @border-radius @border-radius 0 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  p + h3 { margin-top: @box-space; }

  header a { color: inherit; }

  footer { margin-top: @box-space; }
  
  &:last-child { margin-bottom: 0; }
  & > p:last-child { margin-bottom: 0; }

  @media @med-md { padding: @card-padding-y @card-padding-x; }

  &--bg { margin-bottom: @space*2; background-color: var(--color-bg-muted); }
  &--linked {
    padding: 0 0 0 @card-padding-x-sm;
    @media @med-md { padding: 0 0 0 @card-padding-x; }

    margin-bottom: @obj-space;
    position: relative;
    @offset: 1rem;
    &::before {
      content: '';
      position: absolute;
      background-color: var(--color-primary-muted);
      height: calc(100% + @obj-space + @offset);
      width: @border-width;
      left: 0;
      top: @offset;
      border-radius: @border-radius;
    }
    &:last-child::before {
      height: 100%;
      top: 0;
    }
    header { 
      position: relative;

      &::before {
        content: '';
        position: absolute;
        height: 100%;
        width: @border-width;
        border-radius: @border-radius;
        left: -@card-padding-x-sm;
        background-color: var(--color-primary);
        z-index: 1;

        @media @med-md { left: -@card-padding-x; }
      }
    }
  }
}