.footer {
    border-top: var(--border-size-lg) solid var(--color-bg-muted);
    padding: (@section-y-margin / 2) @box-space-sm;

    &__content { 
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: var(--max-document-width);
        margin: auto;
    }

    p { margin: 0; }

    @media @med-under-md {
        margin-bottom: @box-space*2; /* Space for the menu */
        &__content { flex-direction: column; }
        p { margin-bottom: 2em; text-align: center; }
    }

    @media @med-md { padding-left: @box-space; padding-right: @box-space; }
}