a { text-decoration: none; color: var(--color-primary-dark); }
h1 { font-size: 2em; @media @med-md { font-size: 2.25em; } }
h2 { font-size: 1.25em; @media @med-md { font-size: 1.5em; } }
h3 { font-size: 1em; }

svg { fill: currentColor; height: 100%; width: 100%; }
address { font-style: normal; }

html {
  font-family: var(--font);
  background-color: var(--color-bg);
  color: var(--color-text-muted-1);
  line-height: 1.5;
  scroll-behavior: smooth;
  scroll-padding: var(--space-lg);

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: var(--body-border-size);
    background: var(--color-accent);
    animation: expand var(--transition-duration-2);
    position: absolute;
    z-index: 30;
  }
}

body { margin: 0; }

.section, .footer { 
  animation: fadein var(--transition-duration-5); 
}