a { text-decoration: none; color: @accent-color; }
h1, h2 { color: @font-color; }
h1 { font-size: 2em; @media @med-md { font-size: 2.25em; } }
h2 { font-size: 1.25em; @media @med-md { font-size: 1.5em; } }
ul { padding-left: @box-space; }
li + li { margin-top: 0.5em; }
svg { fill: currentColor; height: 100%; width: 100%; }

html {
  background-color: @bg-color;
  scroll-behavior: smooth;
  scroll-padding: @box-space;

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: @body-border-height;
    background: @accent-color;
    animation: expand @transition-duration*2;
    position: absolute;
    z-index: 30;
  }
}

body {
  font-family: sans-serif, 'MS Gothic';
  color: @font-color-light;
  line-height: 1.5;
}

.section, .footer { animation: fadein @transition-duration*5; }