.tag-list {
  margin: calc(-1 * var(--space));
  .tag { margin: var(--space); }
}

.card-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-xxl);

  @media @med-md {
    grid-template-columns: repeat(2, 1fr);
  }
  @media @med-lg {
    grid-template-columns: repeat(3, 1fr);
  }
}