.list--tag {
  margin: -@space/2;
  .tag { margin: @space/2; }
}


@media @med-under-md {
  .list--card {
    .card + .card { margin-top: @space; }
  }
}

@media @med-md {
  .list--card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .card { flex-basis: calc(33% - @space); }
  }
}