.section {
    max-width: @max-document-width;
    margin: @section-y-margin auto;
    padding: 0 @box-space/2;
  
    &__title {
      display: inline-block;
      padding: 0 0.5em;
      margin-top: 0;
      margin-bottom: @box-space;
      margin-left: @border-width;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        height: 100%;
        width: @border-width;
        border-radius: @border-radius;
        background-color: @accent-color;
        left: -@border-width;
      }
    }
  
    &:last-child { margin-bottom: @section-y-margin*2; }
  
    @media @med-md { padding: 0 @box-space; }
  
    a {
      transition: opacity @transition-duration;
      &:hover { opacity: @transition-opacity; }
    }
}