.section {
    max-width: @max-document-width;
    margin: @section-y-margin auto;
    padding: 0 @box-space/2;
  
    &__title {
      border-left: @border-width solid @accent-color;
      display: inline-block;
      border-radius: @border-radius;
      padding: 0 0.5em;
      margin-top: 0;
      margin-bottom: @box-space;
    }
  
    &:last-child { margin-bottom: @section-y-margin*2; }
  
    @media @med-md { padding: 0 @box-space; }
  
    a {
      transition: opacity @transition-duration;
      &:hover { opacity: @transition-opacity; }
    }
}