.section {
    max-width: var(--max-document-width);
    margin: var(--section-y-margin) auto;
    padding: 0 var(--box-space);
    display: flex;
    flex-direction: column;
  
    & > h1 {
      display: inline-block;
      margin-top: 0;
      margin-bottom: var(--section-y-margin-sm);
      position: relative;

      &::after {
        content: '';
        position: absolute;
        height: var(--border-size-lg);
        width: 3ch;
        border-radius: var(--border-radius);
        background-color: var(--color-accent);
        z-index: -1;
        left: 0;
        bottom: 0;
      }
    }
  
    &:last-child { margin-bottom: var(--section-y-margin-2); }
  
    a {
      transition: opacity var(--transition-duration);
      &:hover { opacity: var(--transition-opacity); }
    }
}
