.intro {
  animation: unset;
  margin: @section-y-margin*2 auto;

  @media @med-under-md { margin: @section-y-margin auto; margin-top: @box-space; }

  &__title {
    margin-top: 0;
    margin-bottom: 0;
    animation: scalein @transition-duration*2;
    font-size: 3em;

    @media @med-under-md { font-size: 2.25em; }
  }
  &__hello {
    font-weight: normal;
    font-size: x-large;
    display: block;
  }
  &__subtitle {
    margin-top: @box-space;
    @animations: fadein, moveup;
    @duration: @transition-duration*5, @transition-duration*5;
    @delay: @transition-duration*1.25, @transition-duration*1.25;
    .delayAnimation(@delay, @duration, @animations);
  }
}

.contact {
  align-self: center;
  text-align: center;
  margin-top: @section-y-margin;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  @animations: fadein, moveup;
  @duration: @transition-duration*5, @transition-duration*5;
  @delay: @transition-duration*2.5, @transition-duration*2.5;
  .delayAnimation(@delay, @duration, @animations);

  &__link { margin: @space; }

  @media @med-under-md {
    margin-top: @section-y-margin/2;
  }
}