.intro {
  animation: unset;
  margin: (@section-y-margin * 0.75) auto @section-y-margin auto;

  &__text { animation: scalein (@transition-duration * 2); }
  &__title {
    margin-top: 0;
    margin-bottom: 0;
  }
  &__hello {
    font-weight: normal;
    font-size: x-large;
  }
  &__side {
    width: 100%;
    @animations: fadein, moveup;
    @duration: @transition-duration*5, @transition-duration*5;
    @delay: @transition-duration*1.25, @transition-duration*1.25;
    .delayAnimation(@delay, @duration, @animations);
  }
  &__cta {
    margin-top: @space;
    font-weight: bold;
    @animations: fadein, moveup;
    @duration: @transition-duration*5, @transition-duration*5;
    @delay: @transition-duration*2.5, @transition-duration*2.5;
    .delayAnimation(@delay, @duration, @animations);
  }

  @media @med-under-md {
    margin-bottom: @section-y-margin; margin-top: @box-space;
    &__side { margin-top: @box-space; }
  }

  @media @med-md {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    &__text { flex-basis: 55%; margin-top: @card-padding-y-sm; }
    &__side { flex-basis: 35%; }
  }
}

.contact {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: -(@space);

  &__link { margin: @space; }
}