.color-linkedin { color: #0073b1; }
.color-twitter { color: #1da1f2; }
.color-black { color: black; }

.brand {
  font-size: 2em;
  font-weight: bold;
  user-select: none;
  display: inline-flex;
  justify-content: center;
  align-items: baseline;
  font-family: monospace;

  &::before { content: 'br'; }
  &::after {
    @o-size: 0.9ch;
    content: '';
    height: @o-size;
    width: @o-size;
    background-color: var(--color-primary);
    filter: drop-shadow(0.1ch 0.05ch 0 var(--color-accent-muted));
    border-radius: 50%;
    margin-left: 0.1ch;
  }
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.d-none-under-md { @media @med-under-md { display: none; } }
.d-none-md { @media @med-md { display: none; } }
.muted { color: var(--color-text-muted-2); }

.text-center { text-align: center; }
.text-highlight {
  color: var(--color-primary-dark);
  background-color: var(--color-primary-muted);
}

// .fun {
//   position: relative;

//   &::before, &::after {
//     content: '';
//     position: absolute;
//     height: @box-space;
//     width: @box-space;
//     z-index: -1;
//     border-radius: 50%;
//   }
//   &::before {
//     background-color: var(--color-primary);
//     left: 0;
//   }
//   &::after {
//     background-color: var(--color-accent);
//     right: 0;
//   }
// }