@med-under-xs: ~"screen and (max-width: 25rem)";
@med-under-sm: ~"screen and (max-width: 35rem)";
@med-under-md: ~"screen and (max-width: 45rem)";
@med-under-lg: ~"screen and (max-width: 55rem)";
@med-md: ~"screen and (min-width: 45rem)";
@med-lg: ~"screen and (min-width: 55rem)";

@default-font: sans-serif, 'MS Gothic';
@font: @default-font;
// To test fonts (Noto Sans, Rubik, Source Sans Pro)
// @custom-font: 'Rubik';
// @font-url: %("https://fonts.googleapis.com/css2?family=%s:wght@400;600&display=swap", replace(@custom-font, " ", "+"));
// @import url(@font-url);
// @font: %(e("'%s',%s"), @custom-font, @default-font);


:root {
    --font: @font;
    --max-document-width: 80rem;
    --max-text-length: 80ch;
    
    --transition-opacity: 0.65;
    --transition-duration: 300ms;
    --transition-duration-2: calc(2 * var(--transition-duration));
    --transition-duration-5: calc(5 * var(--transition-duration));

    
    // COLORS

    @primary-color: hsl(193, 83%, 68%);
    @primary-color-hue: hue(@primary-color);
    @primary-color-sat: saturation(@primary-color);
    @primary-color-lig: lightness(@primary-color);
    @accent-color: hsl(@primary-color-hue + 180, 100%, @primary-color-lig + 10);

    color-scheme: light;

    --color-bg: hsl(@primary-color-hue, @primary-color-sat, 100%);  // bg default
    --color-bg-muted: hsl(@primary-color-hue, @primary-color-sat - 50%, 97%);  // bg muted

    --color-primary: @primary-color;  // primary
    --color-primary-muted: hsl(@primary-color-hue, @primary-color-sat, 94%);  // primary muted
    --color-primary-dark: hsl(@primary-color-hue, @primary-color-sat, 32%);  // primary dark
    --color-accent: @accent-color;  // accent
    --color-accent-muted: lighten(@accent-color, 17%);  // accent muted
    
    --color-text: hsl(@primary-color-hue, @primary-color-sat - 60%, 13%);  // text default
    --color-text-muted: hsl(@primary-color-hue, @primary-color-sat - 60%, 40%);  // text muted
    --color-link: var(--color-primary-dark);


    // SPACING

    --space: 0.5rem;
    --space-lg: calc(2 * var(--space));
    --space-xl: calc(4 * var(--space));
    --space-xxl: calc(8 * var(--space));
    --box-space: 1.5rem;
    --section-y-margin-sm: 6rem;
    --section-y-margin: 12rem;
    --section-y-margin-2: 24rem;

    @media @med-md {
        --box-space: 2rem;
    }


    // BORDERS

    --border-size: 0.25rem;
    --border-size-lg: calc(2 * var(--border-size));
    --body-border-size: var(--border-size-lg);
    --border-radius: 0.5rem;


    // CARDS

    --card-padding-y: calc(4/3 * var(--box-space));
    --card-padding-x: var(--box-space);
}
