// VARIABLES
@med-under-md: ~"screen and (max-width: 767px)";
@med-md: ~"screen and (min-width: 768px)";

@max-document-width: 992px;

@bg-color: #303243;
@bg-color-light: lighten(@bg-color, 7%);
@bg-color-dark: darken(@bg-color, 7%);

@accent-color: #fbba00;

@transition-opacity: 0.75;
@transition-duration: 200ms;
@box-space: 2rem;
@space: 1rem;
@space-text: 0.5em;
@border-radius: 6px;

@button-padding: 1rem;
@button-height: 2.25rem;
@menu-height: (@box-space * 2) + (@button-height);
@body-border-height: 0.5rem;
@section-y-padding: 4rem;
