<!doctype html>
<html lang="fr">
<head>
    <title>Ingénieur web (full stack) - Baptiste Rouxel</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Site de Baptiste Rouxel, Ingénieur web (full stack).">
    <meta name="theme-color" content="#6cd4f1">
    <link rel="icon" type="image/png" href="./src/assets/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="./src/assets/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/svg" href="./src/assets/favicon/favicon.svg">
    <link rel="stylesheet" href="./dist/style.css">
</head>
<body>
<header class="menu">
    <span class="brand" aria-hidden="true"></span>
    <nav class="menu__links">
        <a class="menu__link" href="#skills"><span class="icon" aria-hidden="true">{{> assets/skills.svg }}</span>Compétences</a>
        <a class="menu__link" href="#career"><span class="icon" aria-hidden="true">{{> assets/career.svg }}</span>Expérience</a>
        <a class="menu__link" href="#education"><span class="icon" aria-hidden="true">{{> assets/education.svg }}</span>Formation</a>
        <a class="menu__link" href="#contact"><span class="icon" aria-hidden="true">{{> assets/contact.svg }}</span>Contact</a>
    </nav>
</header>
<main id="page">
    <article class="section intro">
        <article class="intro__text">
            <span class="intro__hello">Hello world 🌏</span>
            <h1 class="intro__title">Trouver des <span class="text-highlight">solutions web de qualité</span>, c'est mon métier&nbsp;!</h1>
        </article>
        <article class="intro__side card card--bg card--bg--primary text-center">
            <header>
                <h2>Baptiste Rouxel</h2>
            </header>
            <p>Ingénieur web (full stack) à la recherche d'opportunités au Japon.</p>
            <a href="#contact" class="intro__cta button button--accent"><span class="icon" aria-hidden="true">{{> assets/talk.svg }}</span><span>Connectons-nous</span></a>
        </article>
    </article>
    <article class="section">
        <h1 id="skills">Compétences</h1>
        <div class="list list--card">
            <article class="card card--bg">
                <header>
                    <span class="card__icon" aria-hidden="true">{{> assets/code.svg }}</span>
                    <h2>Développement</h2>
                </header>
                <p>Programmation en Django, Python, JavaScript, Vue.js.</p>
                <p>Utilisation de Git, Docker et Webpack.</p>
            </article>
            <article class="card card--bg">
                <header>
                    <span class="card__icon" aria-hidden="true">{{> assets/design.svg }}</span>
                    <h2>Interfaces utilisateur</h2>
                </header>
                <p>Design et développement d'interfaces utilisateur.</p>
            </article>
            <article class="card card--bg">
                <header>
                    <span class="card__icon" aria-hidden="true">{{> assets/concept.svg }}</span>
                    <h2>Conseil & conception</h2>
                </header>
                <p>Aide à la définition des besoins et conception d'applications en fonction de ceux-ci.</p>
            </article>
            <article class="card card--bg">
                <header>
                    <span class="card__icon card__icon--text" aria-hidden="true">EN</span>
                    <h2>Anglais</h2>
                </header>
                <p>Niveau avancé - TOEIC 920/990.</p>
                <p>4 semaines de summer school dans l'université <a href="https://www.glyndwr.ac.uk">Glyndwr</a>, Pays de Galles.</p>
            </article>
            <article class="card card--bg">
                <header>
                    <span class="card__icon card__icon--text" aria-hidden="true">日本語</span>
                    <h2>Japonais</h2>
                </header>
                <p>Niveau intermédiaire.</p>
                <p>3 semaines d'échange dans le lycée <a href="https://inagakuen.spec.ed.jp/hs">Inagakuen (伊奈学園総合高等学校)</a>, Japon.</p>
            </article>
            <article class="card card--bg">
                <header>
                    <span class="card__icon card__icon--text" aria-hidden="true">ES</span>
                    <h2>Espagnol</h2>
                </header>
                <p>Notions élémentaires.</p>
            </article>
        </div>
    </article>
    <article class="section">
        <h1 id="career">Expérience</h1>
        <article class="card card--linked">
            <header>
                <span class="muted">2019-2021 / <a href="https://cdsp.sciences-po.fr">Sciences Po</a> - <a href="https://www.cnrs.fr">CNRS</a></span>
                <h2>Ingénieur web (full stack)</h2>
            </header>
            <h3>data.sciencespo</h3>
            <p>Travail collaboratif pour la construction d'un entrepôt de données pour la recherche utilisant <a href="https://dataverse.org">Dataverse</a>. Conception et intégration d'une refonte d'interface en adéquation avec la charte Sciences Po. Création d'une page d'accueil sous Vue.js.</p>
            <p><a href="https://data.sciencespo.fr">→ Voir</a></p>
            <h3>WPSS</h3>
            <p>Participation au développement d'une application de gestion d'échantillons pour des questionnaires en ligne réalisés sur <a href="https://www.qualtrics.com">Qualtrics</a>. Conception et développement de l'interface utilisateur.</p>
            <p>Application développée dans le cadre de <a href="https://sshopencloud.eu">SSHOC</a>, une plateforme en ligne européenne regroupant des outils pour la recherche en sciences humaines et sociales.</p>
            <footer><div class="list list--tag"><span class="tag">git</span><span class="tag">django</span><span class="tag">python</span><span class="tag">vuejs</span><span class="tag">docker</span><span class="tag">webpack</span></div></footer>
        </article>
        <article class="card card--linked">
            <header>
                <span class="muted">2017-2019 / <a href="https://cdsp.sciences-po.fr">Sciences Po</a> - <a href="https://www.cnrs.fr">CNRS</a></span>
                <h2>Apprenti ingénieur web (full stack)</h2>
            </header>
            <p>Développement collaboratif d'applications au service de la recherche et l'aide à l'archivage et au traitement des données en sciences sociales.</p>
            <h3>Site du CDSP</h3>
            <p>Intégration du design et développement de composants pour le CMS.</p>
            <p><a href="https://cdsp.sciences-po.fr">→ Voir</a></p>
            <h3>BeQuali</h3>
            <p>Application web de dépôt et d'exploration de données de recherche, aussi utilisée dans le cadre de formations.</p>
            <p><a href="https://bequali.fr">→ Voir</a></p>
            <h3>ELIPSS</h3>
            <p>Application web et mobile permettant de répondre à des questionnaires pour la recherche en sciences sociales. Outils de gestion des répondants (échantillon de plus de 2200 personnes, représentatif de la France) et de leur matériel, planification et développement des questionnaires, développement de questions interactives sur tablette (exemples&nbsp;:  lecteur vidéo, carte interactive).</p>
            <p>Traitement des paradonnées sur les actions réalisées par les répondants et les autres utilisateurs de la plateforme. <a href="https://github.com/CDSP-SCPO/eddi19-workshop">Voir un exemple de l'exploitation de ces données</a> (réalisé dans le cadre d'un workshop lors d'<a href="https://www.eddi-conferences.eu/eddi-2019">EDDI 2019</a>).</p>
            <p>Refonte de l'interface mobile pour la rendre plus moderne et accessible.</p>
            <p><a href="https://www.elipss.fr">→ Plus d'informations</a></p>
            <h3>Mémoire de fin d'études</h3>
            <p>Intégration de composants d'interface dynamiques (Vue.js) dans des pages statiques (Django) tout en utilisant la technologie Docker. Ce travail de recherche a été fondamental pour la création d'une application web dans le contexte d'un nouveau projet européen : WPSS.
            <footer><div class="list list--tag"><span class="tag">git</span><span class="tag">django</span><span class="tag">python</span><span class="tag">javascript</span><span class="tag">vuejs</span><span class="tag">docker</span><span class="tag">webpack</span></div></footer>
        </article>
        <article class="card card--linked">
            <header>
                <span class="muted">2016-2017 / <a href="http://www.computer-engineering.fr">Computer Engineering</a></span>
                <h2>Apprenti développeur logiciel</h2>
            </header>
            <p>Chargé du développement d’un module de gestion de blocs opératoires pour un progiciel médical utilisé dans des hôpitaux français. Création de nouvelles fonctionnalités et migration vers une nouvelle interface utilisateur en suivant une charte graphique.</p>
            <footer><div class="list list--tag"><span class="tag">windev</span></div></footer>
        </article>
    </article>
    <article class="section">
        <h1 id="education">Formation</h1>
        <article class="card card--linked">
            <header>
                <span class="muted">2016-2019 / <a href="https://www.esiea.fr">ESIEA</a> - <a href="https://cfa-ite.fr">CFA-ITE</a></span>
                <h2>Ingénieur, informatique</h2>
            </header>
            <p>L’ESIEA forme des ingénieurs généralistes des Sciences et Technologies du Numérique, adaptables à leur environnement technique et humain, ainsi qu’aux exigences de secteurs d’activité très diversifiés en France et à l'international.</p>
        </article>
        <article class="card card--linked">
            <header>
                <span class="muted">2016 / <a href="https://learndigital.withgoogle.com/ateliersnumeriques">Google Ateliers Numériques</a></span>
                <h2>Les principes fondamentaux du marketing numérique</h2>
            </header>
            <p>La formation Google Ateliers Numériques consiste en 26 modules couvrant de nombreux thèmes du marketing digital&nbsp;: recherche emailing, médias sociaux, display, vidéo, e-commerce, ciblage, analyse d'audience, et bien plus.</p>
        </article>
        <article class="card card--linked">
            <header>
                <span class="muted">2014-2016 / <a href="http://www.iut-velizy.uvsq.fr">IUT de Vélizy</a></span>
                <h2>DUT informatique</h2>
            </header>
            <p>Les étudiants formés doivent être capables de participer à la conception, la réalisation et la mise en œuvre de systèmes informatiques correspondant aux besoins des utilisateurs. Pour assumer ces responsabilités, les informaticiens doivent être compétents sur le plan technologique, connaître l'environnement socio-économique dans lequel ils auront à exercer leur profession, posséder une bonne culture générale et se montrer aptes à la communication.</p>
        </article>
    </article>
    <article class="section">
        <h1 id="hobbies">Centres d'intérêt</h1>
        <div class="list list--card">
            <article class="card card--bg">
                <header>
                    <span class="card__icon" aria-hidden="true">{{> assets/science.svg }}</span>
                    <h2>Sciences</h2>
                </header>
                <p>Veille quotidienne dans divers domaines&nbsp;: physique, technologique, biologique.</p>
            </article>
            <article class="card card--bg">
                <header>
                    <span class="card__icon" aria-hidden="true">{{> assets/trading.svg }}</span>
                    <h2>Investissements</h2>
                </header>
                <p>Lecture des courbes, prédiction et gestion des risques.</p>
            </article>
            <article class="card card--bg">
                <header>
                    <span class="card__icon" aria-hidden="true">{{> assets/language.svg }}</span>
                    <h2>Langues</h2>
                </header>
                <p>Apprentissage des langues, conversation avec des natifs.</p>
            </article>
        </div>
    </article>
    <article class="section">
        <h1 id="contact">Contact</h1>
        <address class="contact">
            <a class="button contact__link" href="https://www.linkedin.com/in/baptiste-rouxel"><span class="icon color-linkedin" aria-hidden="true">{{> assets/linkedin.svg }}</span>LinkedIn</a>
            <a class="button contact__link" href="https://github.com/bappun"><span class="icon color-black" aria-hidden="true">{{> assets/github.svg }}</span>GitHub</a>
            <a class="button contact__link" href="https://twitter.com/baptiste_rouxel"><span class="icon color-twitter" aria-hidden="true">{{> assets/twitter.svg }}</span>Twitter</a>
            <a class="button contact__link" href="mailto:hello@baptiste-rouxel.com"><span class="icon color-black" aria-hidden="true">{{> assets/email.svg }}</span>E-mail</span></a>
        </address>
    </article>
</main>
<footer class="footer">
    <div class="footer__content">
        <p aria-hidden="true"><span class="brand"></span><br>Baptiste Rouxel</p>
        <a href="#top" class="button"><span class="icon" aria-hidden="true">{{> assets/arrow-up.svg }}</span><span>Haut de page</span></a>
    </div>
</footer>
</body>
</html>