<!doctype html>
<html lang="fr">
<head>
    <title>Développeur web full stack - Baptiste Rouxel</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Site de Baptiste Rouxel, développeur web full stack.">
    <meta name="theme-color" content="#6cd4f1">
    <link rel="icon" type="image/png" href="./src/assets/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="./src/assets/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/svg" href="./src/assets/favicon/favicon.svg">
    <link rel="stylesheet" href="./dist/style.css">
</head>
<body>
<header class="header menu">
    <span class="brand" aria-hidden="true"></span>
    <nav class="menu__links">
        <a class="menu__link" href="#skills"><span class="icon" aria-hidden="true">{{> assets/skills.svg }}</span>Compétences</a>
        <a class="menu__link" href="#career"><span class="icon" aria-hidden="true">{{> assets/career.svg }}</span>Expérience</a>
        <a class="menu__link" href="#education"><span class="icon" aria-hidden="true">{{> assets/education.svg }}</span>Formation</a>
        <a class="menu__link" href="#contact"><span class="icon" aria-hidden="true">{{> assets/contact.svg }}</span>Contact</a>
    </nav>
</header>
<main id="page">
    <article class="section intro">
        <div class="intro__text">
            <h1 class="intro__title"><span class="intro__hello">Hello world !</span><br>Je conçois des applications web modernes et intuitives</h1>
            <p class="intro__subtitle"><b>Baptiste Rouxel</b><br/>Développeur web full stack à la recherche d'opportunités au Japon.</p>
            <a href="#contact" class="intro__cta button button--accent"><span class="icon" aria-hidden="true">{{> assets/arrow-right.svg }}</span><span>Connectons-nous</span></a>
        </div>
        <div class="intro__img" aria-hidden="true">{{> assets/bg7.svg }}</div>
    </article>
    <article class="section">
        <h1 id="skills" class="section__title">Compétences</h1>
        <div class="list list--card">
            <article class="card card--bg">
                <div class="card__icon" aria-hidden="true">{{> assets/code.svg }}</div>
                <h2 class="card__title">Développement</h2>
                <p>Programmation en Django, Python, JavaScript, Vue.js<br>Utilisation de Git, Docker et Webpack</p>
            </article>
            <article class="card card--bg">
                <div class="card__icon" aria-hidden="true">{{> assets/design.svg }}</div>
                <h2 class="card__title">Interfaces utilisateur</h2>
                <p>Design et développement d'interfaces utilisateur</p>
            </article>
            <article class="card card--bg">
                <div class="card__icon" aria-hidden="true">{{> assets/concept.svg }}</div>
                <h2 class="card__title">Conseil & conception</h2>
                <p>Aide à la définition des besoins et conception d'applications en fonction de ceux-ci</p>
            </article>
            <article class="card card--bg">
                <div class="card__icon card__icon--text" aria-hidden="true">EN</div>
                <h2 class="card__title">Anglais</h2>
                <p>Niveau avancé - TOEIC 920/990<br>4 semaines de summer school au Pays de Galles</p>
            </article>
            <article class="card card--bg">
                <div class="card__icon card__icon--text" aria-hidden="true">日本語</div>
                <h2 class="card__title">Japonais</h2>
                <p>Niveau intermédiaire<br>3 semaines d'échange dans un lycée à Tokyo</p>
            </article>
            <article class="card card--bg">
                <div class="card__icon card__icon--text" aria-hidden="true">ES</div>
                <h2 class="card__title">Espagnol</h2>
                <p>Notions élémentaires</p>
            </article>
        </div>
    </article>
    <article class="section">
        <h1 id="career" class="section__title">Expérience</h1>
        <article class="card card--border card--linked">
            <span class="muted">2019-2021</span>
            <h2 class="card__title">Développeur web full stack</h2>
            <span class="card__subtitle card__links"><a href="https://cdsp.sciences-po.fr/fr">Sciences Po</a><a href="https://www.cnrs.fr">CNRS</a></span>
            <h3>data.sciencespo</h3>
            <p>Travail collaboratif pour la construction d'un entrepôt de données pour la recherche utilisant <a href="https://dataverse.org">Dataverse</a>. Conception et intégration d'une refonte d'interface en adéquation avec la charte Sciences Po. Création d'une page d'accueil sous Vue.js.</p>
            <p><a href="https://data.sciencespo.fr">→ Voir</a></p>
            <h3>WPSS</h3>
            <p>Participation au développement d'une application de gestion d'échantillons pour des questionnaires en ligne réalisés sur <a href="https://www.qualtrics.com">Qualtrics</a>. Conception et développement de l'interface utilisateur.</p>
            <p>Application développée dans le cadre de <a href="https://sshopencloud.eu">SSHOC</a>, une plateforme en ligne européenne regroupant des outils pour la recherche en sciences humaines et sociales.</p>
            <footer class="card__footer">
                <div class="list list--tag"><span class="tag">git</span><span class="tag">django</span><span class="tag">python</span><span class="tag">vuejs</span><span class="tag">docker</span><span class="tag">webpack</span></div>
            </footer>
        </article>
        <article class="card card--border card--linked">
            <span class="muted">2017-2019</span>
            <h2 class="card__title">Apprenti développeur web full stack</h2>
            <span class="card__subtitle card__links"><a href="https://cdsp.sciences-po.fr/fr">Sciences Po</a><a href="https://www.cnrs.fr">CNRS</a></span>
            <p>Développement collaboratif d'applications au service de la recherche et l'aide à l'archivage et au traitement des données en sciences sociales.</p>
            <h3>Site du CDSP</h3>
            <p>Intégration du design et développement de composants du CMS.</p>
            <p><a href="https://cdsp.sciences-po.fr">→ Voir</a></p>
            <h3>BEQUALI</h3>
            <p>Application web de dépôt et d'exploration de données de recherche, aussi utilisée dans le cadre de formations.</p>
            <p><a href="https://bequali.fr">→ Voir</a></p>
            <h3>ELIPSS</h3>
            <p>Application web et mobile permettant de répondre à des questionnaires pour la recherche en sciences sociales. Outils de gestion des répondants (échantillon de plus de 2200 personnes, représentatif de la France) et de leur matériel, planification et développement des questionnaires, développement de questions interactives sur tablette (exemples&nbsp;:  lecteur vidéo, carte interactive).</p>
            <p>Traitement des paradonnées sur les actions réalisées par les répondants et les autres utilisateurs de la plateforme. <a href="https://github.com/CDSP-SCPO/eddi19-workshop">Voir un exemple de l'exploitation de ces données</a> (réalisé dans le cadre d'un workshop lors d'<a href="https://www.eddi-conferences.eu/eddi-2019">EDDI 2019</a>).</p>
            <p>Refonte de l'interface mobile pour la rendre plus moderne et accessible.</p>
            <p><a href="https://www.elipss.fr">→ Plus d'information</a></p>
            <h3>Mémoire de fin d'études</h3>
            <p>Intégration de composants d'interface dynamiques (Vue.js) dans des pages statiques (Django) tout en utilisant la technologie Docker. Ce travail de recherche a été fondamental pour la création d'une application web dans le contexte d'un nouveau projet européen : WPSS.
            <footer class="card__footer">
                <div class="list list--tag"><span class="tag">git</span><span class="tag">django</span><span class="tag">python</span><span class="tag">javascript</span><span class="tag">vuejs</span><span class="tag">docker</span><span class="tag">webpack</span></div>
            </footer>
        </article>
        <article class="card card--border card--linked">
            <span class="muted">2016-2017</span>
            <h2 class="card__title">Apprenti développeur logiciel</h2>
            <span class="card__subtitle card__links"><a href="http://www.computer-engineering.fr">Computer Engineering</a></span>
            <p>Chargé du développement d’un module de gestion de blocs opératoires pour un progiciel médical utilisé dans des hôpitaux français. Création de nouvelles fonctionnalités et migration vers une nouvelle interface utilisateur en suivant une charte graphique.</p>
            <footer class="card__footer">
                <div class="list list--tag"><span class="tag">windev</span></div>
            </footer>
        </article>
    </article>
    <article class="section">
        <h1 id="education" class="section__title">Formation</h1>
        <article class="card card--border card--linked">
            <span class="muted">2016-2019</span>
            <h2 class="card__title">Ingénieur informatique</h2>
            <span class="card__subtitle card__links"><a href="https://www.esiea.fr">ESIEA</a><a href="https://cfa-ite.fr">CFA-ITE</a></span>
            <p>L’ESIEA forme des ingénieurs généralistes des Sciences et Technologies du Numérique, adaptables à leur environnement technique et humain, ainsi qu’aux exigences de secteurs d’activité très diversifiés en France et à l'international.</p>
        </article>
        <article class="card card--border card--linked">
            <span class="muted">2016</span>
            <h2 class="card__title">Les principes fondamentaux du marketing numérique</h2>
            <span class="card__subtitle card__links"><a href="https://learndigital.withgoogle.com/ateliersnumeriques">Google Ateliers Numériques</a></span>
            <p>La formation Google Ateliers Numériques consiste en 26 modules couvrant de nombreux thèmes du marketing digital&nbsp;: recherche emailing, médias sociaux, display, vidéo, e-commerce, ciblage, analyse d'audience, et bien plus.</p>
        </article>
        <article class="card card--border card--linked">
            <span class="muted">2014-2016</span>
            <h2 class="card__title">DUT informatique</h2>
            <span class="card__subtitle card__links"><a href="http://www.iut-velizy.uvsq.fr">IUT de Vélizy</a></span>
            <p>Les étudiants formés doivent être capables de participer à la conception, la réalisation et la mise en œuvre de systèmes informatiques correspondant aux besoins des utilisateurs. Pour assumer ces responsabilités, les informaticiens doivent être compétents sur le plan technologique, connaître l'environnement socio-économique dans lequel ils auront à exercer leur profession, posséder une bonne culture générale et se montrer aptes à la communication.</p>
        </article>
    </article>
    <article class="section">
        <h1 id="hobbies" class="section__title">Centres d'intérêt</h1>
        <div class="list list--card">
            <article class="card card--bg">
                <div class="card__icon" aria-hidden="true">{{> assets/science.svg }}</div>
                <h2 class="card__title">Sciences</h2>
                <p>Veille quotidienne dans divers domaines&nbsp;: physique, technologique, biologique</p>
            </article>
            <article class="card card--bg">
                <div class="card__icon" aria-hidden="true">{{> assets/trading.svg }}</div>
                <h2 class="card__title">Investissements</h2>
                <p>Lecture des courbes, prédiction et gestion des risques</p>
            </article>
            <article class="card card--bg">
                <div class="card__icon" aria-hidden="true">{{> assets/language.svg }}</div>
                <h2 class="card__title">Langues</h2>
                <p>Apprentissage des langues, conversation avec des natifs</p>
            </article>
        </div>
    </article>
    <article class="section">
        <h1 id="contact" class="section__title">Contact</h1>
        <address class="contact">
            <a class="button contact__link" href="https://www.linkedin.com/in/baptiste-rouxel"><span class="icon color-linkedin" aria-hidden="true">{{> assets/linkedin.svg }}</span>LinkedIn</a>
            <a class="button contact__link" href="https://github.com/bappun"><span class="icon color-black" aria-hidden="true">{{> assets/github.svg }}</span>GitHub</a>
            <a class="button contact__link" href="https://twitter.com/baptiste_rouxel"><span class="icon color-twitter" aria-hidden="true">{{> assets/twitter.svg }}</span>Twitter</a>
            <a class="button contact__link" href="mailto:hello@baptiste-rouxel.com"><span class="icon color-black" aria-hidden="true">{{> assets/email.svg }}</span>E-mail</span></a>
        </address>
    </article>
</main>
<footer class="footer">
    <div class="footer__content">
        <p aria-hidden="true"><span class="brand"></span><br>Baptiste Rouxel</p>
        <a href="#top" class="button"><span class="icon" aria-hidden="true">{{> assets/arrow-up.svg }}</span><span>Haut de page</span></a>
    </div>
</footer>
</body>
</html>
